---
layout: default
title: Adrian Nilsson
---

<ul id="posts" class="ten columns offset-by-six">
  {% for post in site.posts %}
    <li>
      <a class="eight columns" href="{{ post.url }}">{{ post.title }}</a>
      <span class="two columns">{{ post.date | date: "%b %Y" }}</span>
    </li>
  {% endfor %}
</ul>