body {
  font-family: 'Open sans', sans-serif;
  font-size: 18px;
}

p {
  line-height: 28px;
}

h1,h2,h3,h4 {
  font-family: 'Droid Serif', serif;
  color: #423F37;
}

h1 { 
  font-size: 2em;
  line-height: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  line-height: 1.3em;
  padding-bottom: 0.4em;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

a {
  color: #FA2424;
  text-decoration: none;
}

a:hover {
  color: #FA2424;
  text-decoration: underline;
  cursor: pointer;
}

a:visited { 
  color: #D62424;
}

#article-content {
  margin-top: 20px;
}

#posts a {
  padding-bottom: 15px;
}

#posts {
  margin: 20px auto 0 auto;
  font-size: 20px;
}

#posts span {
  color: #999;
  text-align: right;
}

.sidebar {
  margin-left: 0 !important;
  width: 220px !important;
}

.sidebar > section {
  background: url('/static/images/noisy_net.png') repeat scroll 0 0 transparent;
  position: fixed;
  width: inherit;
  height: 100%;
  padding-left: 45px;
  padding-right: 45px;
  box-shadow: 0 0 6px black;
  border-right: 1px dashed white;
  color: #FFF;
}

.hidden {
  display: none; 
}

code {
  font-size: 90%;
  font-family: Monaco, Consolas, monospace;
}

pre {
  margin: 0 0 20px 20px;
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -pre-wrap; /* Opera */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word; /* IE 5.5+ */
}

.sidebar p {
  margin-bottom: 10px;
}

img {
  max-width: 70%;
  max-height: 400px;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
}

article ul {
  margin-left: 20px;
}

article ul li {
	list-style: disc outside;
}

article ul li li {
	list-style: circle outside;
}

article ul li li li {
	list-style: square outside;
}

#avatar {
  background-image: url('/static/images/adnils.jpg');
  background-size: cover;
  height: 134px;
  width: 134px;
  display: block;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 8px;
  border: 2px solid #999;
  opacity: 0.8;
  -webkit-transition:all 500ms ease-in;
  -moz-transition:all 500ms ease-in;
  -o-transition:all 500ms ease-in;
}

#social {
  margin-top: 25px;
}

#social li {
  display: inline-block;
  font-size: 22px;
  overflow: hidden;
}

#social a, #social a:visited {
  color: #999;
  -webkit-transition:color 200ms ease-in;
  -moz-transition:color 200ms ease-in;
  -o-transition:color 200ms ease-in;
}

#social a:hover, #social a:visited:hover {
  color: #FFF;
  text-decoration: none;
}

.bio {
  font-size: 11pt;
  margin-top: 5px;
}

sup, sub {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  position: relative;
  font-size: 12px;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

.footnotes {
  font-size: 12px;
}

.footnotes p {
  margin-bottom: 0;
}

.footnotes a[rel=reference]{
  padding-left: 5px;
}

.intro {
  font-size: 1.25em;
  line-height: 1.3em;
  margin-bottom: 20px;
}

#follow {
  font-style: italic;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */
	
	/* iPad Portrait/Browser */
	@media only screen and (min-width: 768px) and (max-width: 991px) {}
	
	/* Mobile/Browser */
	@media only screen and (max-width: 767px) {
    .container { padding-top: 20px; }
    .sidebar { display: none; } 
    #mobile { display: inline; } 

    #posts span {
      text-align: left;
      padding-bottom: 15px;
      font-size: 14px;
    }

    #posts a {
      padding-bottom: 5px;
    }
  }
	
	/* Mobile Landscape/Browser */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}
	
	/* Anything smaller than standard 960 */
	@media only screen and (max-width: 959px) {
    .sidebar > section {
      padding-left: 15px;
      padding-right: 15px;
    }

    #posts span {
      text-align: left;
      padding-bottom: 15px;
      font-size: 14px;
      float: left;
    }

    #posts a {
      padding-bottom: 5px;
    }
  }
	
	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {}
	
	/* Mobile Only */
	@media only screen and (max-width: 767px) and (max-device-width: 1000px) { 
  }
	
	/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}

  @media only print {
    .sidebar { display: none; }
    #tweet { display: none; }

    .offset-by-four {
      padding-left: 0 !important;
    }

    #article-header {
      float: none !important;
      padding-left: 0 !important;
      display: block;
      margin: 0 auto;
      width: 700px !important;
    }

    #date-header {
      float: none !important;
      display: block;
      width: 700px !important;
      margin: 0 auto;
      margin-bottom: 20px !important;
    }

    #article-content {
      float: none !important;
      display: block;
      margin: 0 auto;
      width: 700px !important;
    }

    a {
      color: #999 !important;
    }
  }
	

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file 
		Just create a "fonts" folder at the root, 
		copy your FontName into code below and remove
		comment brackets */
		
/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/