<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />	<!-- Force Latest IE rendering engine -->
    <title>{{ page.title }}</title>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-30043470-3', 'auto');
      ga('send', 'pageview');
    
    </script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/static/images/favicon.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" href="/static/css/style.css">

    <!--
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    -->

    <!--[if IE 7]>
      <script src="/static/css/font-awesome-ie7.css"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div id='mobile' class='two columns hidden'>
        <ul>
          <li><a href='/'>adnils</a></li>
          <li><span class="gray">Adrian Nilsson</span></li>
          <li><a href="mailto:adrian@adnils.com">adrian@adnils.com</a></li>
          <li><a href="http://twitter.com/aadnils">@aadnils</a></li>
        </ul>
      </div>

      <div class="five columns sidebar">
        <section>
          <a id="avatar" href="/"></a>

          <ul id="social">
            <li>
              <a href="mailto:adrian@adnils.com?subject=hi" id="sidebar-email" class="icon-envelope-alt" title="Say hi" onClick="_gaq.push(['_trackEvent', 'Social Icons', 'Click', 'Email']);"></a>
            </li>

            <li>
              <a href="http://linkedin.com/profile/view?id=183974035" id="sidebar-linkedin" class="icon-linkedin-sign" title="View my LinkedIn profile" style="font-size: 25px;" onClick="_gaq.push(['_trackEvent', 'Social Icons', 'Click', 'LinkedIn']);"></a>
            </li>

            <li>
              <a href="http://twitter.com/aadnils" id="sidebar-twitter" class="icon-twitter" title="You should follow me" style="font-size: 28px;" onClick="_gaq.push(['_trackEvent', 'Social Icons', 'Click', 'Twitter']);"></a>
            </li>

            <li>
              <a href="http://github.com/adnils" id="sidebar-github" class="icon-github" title="I share and fork code here" onClick="_gaq.push(['_trackEvent', 'Social Icons', 'Click', 'Github']);"></a>
            </li>
          </ul>

          <ul id="me">
            <li>Hi! I'm Adrian Nilsson.</li>
            <li class="gray bio">I'm a web developer based in Stockholm, Sweden. I enjoy coding with a pencil and long walks in the snow. (<a href="/atom.xml">rss</a>)</li>
          </ul>

        </section>
      </div>

      {{ content }}
    </div>
  </body>
</html>
