---
layout: default
blog: true
---

<article class='ten columns offset-by-six' id="article-content">
  <header class="ten columns" id="article-header">
    <h1>{{ page.title }}</h1>
  </header>

  <div class='ten columns gray' id="date-header">
    <p>
      {{ page.date | date: "%b %Y" }}
  {% if page.updated_at %}
      revised {{ page.updated_at }}
  {% endif %}
    </p>

  </div>

  <div class="ten columns" id="article-content">
    {{ content }}
  </div>

  <footer class="ten columns">
    <p id='follow'>
      You should follow me on Twitter <a href="http://twitter.com/aadnils" target="_blank" onClick="_gaq.push(['_trackEvent', 'Post', 'Click', 'Twitter']);">here</a>.
    </p>
  </footer>
</article>